<footer class=" text-dark py-1" [@slideInOut]>
  <div class="container">
    <div class="row">
      <!-- Información Clínica -->
      <div class="col-6">
        <h6 class="text-dark mb-1">Trafalgar Clínica</h6>
        <ul class="list-unstyled mb-0">
          <li><i class="bi bi-geo-alt"></i> Calle Ejemplo 123, Ciudad</li>
          <li><i class="bi bi-phone"></i> +54 9 123 456 789</li>
          <li><i class="bi bi-envelope"></i> contactoejemplo.com</li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div class="col-6 text-end">
        <div>
          <a href="#" class="btn btn-dark btn-sm m-1"><i class="bi bi-facebook"></i></a>
          <a href="#" class="btn btn-dark btn-sm m-1"><i class="bi bi-twitter"></i></a>
          <a href="#" class="btn btn-dark btn-sm m-1"><i class="bi bi-instagram"></i></a>
          <a href="#" class="btn btn-dark btn-sm m-1"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <hr class="border-dark my-1">
    <div class="text-center">
      <p class="mb-0 text-dark">© 2024 Trafalgar Clínica. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
