<div class="background" @fadeInOut>
  <!-- Fondo desenfocado general -->
  <div class="background-blur"></div>

  <!-- Contenido principal -->
  <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 justify-content-center">
      <!-- Carta Izquierda (Presentación) -->
      <div class="col-md-5 mb-4">
        <div class="card custom-card shadow-lg h-100" 
             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAMAwxJgT4jY074vhn4Wh_ISjh8mdB2OEeWg&s');" 
             >
          <div class="card-overlay">
            <div class="logo-container">
              <img src="https://firebasestorage.googleapis.com/v0/b/fbst-8c19a.appspot.com/o/pngwing.com.png?alt=media&token=ebc82d77-0546-412e-876e-12897ee267fc" 
                   alt="Logo de la clínica" class="logo">
            </div>
            <h2 class="card-title">Tu Salud, Nuestra Prioridad</h2>
            <p class="card-text">
              En Trafalgar, somos mucho más que una clínica; somos un espacio dedicado a cuidarde tu bienestar con un enfoque integral.
            </p>
            <p class="card-text">Nuestro compromiso se basa en combinar tecnología médica de última generación con un equipo de profesionales apasionados, expertos en diversas especialidades.</p>
            <strong>Confía en nosotros, porque en Trafalgar, tu salud está en las mejores manos.</strong>
          </div>
        </div>
      </div>
      

      <!-- Carta Derecha (Login/Register) -->
      <div class="col-md-5 mb-4">
        <div class="card custom-card shadow-lg h-100" style="background-image: url('https://www.emerson.com/resource/image/7668332/portrait_ratio1x1/555/555/54dc70c13a5f08a537bbaf2ae04d5b38/18FA82B3411396F9CB283FDFEDF709E8/h002-hero-image-update.jpg');">
          <div class="card-overlay">
            <h2 class="card-title">Accede a tu Cuenta</h2>
            <p class="card-text">
              Unite a nuestro equipo Inicia sesión o regístrate para acceder a todos nuestros servicios médicos en línea y administrar tus consultas de manera fácil y rápida.
            </p>
            <div class="button-group mt-3">
              <a href="/login" class="btn custom-btn" appHighlight="orange">Iniciar Sesión</a>
              <a href="/registro" class="btn custom-btn-outline" appHighlight="white">Registrarse</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
